@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel ="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body class="text-center">
    <h1>Welcome</h1>
    <div>
        <p>
            
        </p>
        Click <a class="nav-link" asp-action="ReGuest1">here</a> to answer about party.
    </div>
</body>
</html>
