@model Party.Models.GuestResposne
@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guests1</title>
    <link rel="stylesheet" href="~/css/Styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div>
        <div class="panel panel-success">
            <div class="panel-heading text-center"><h4>For Guests</h4></div>
        </div>
        <form class="p-a-1" asp-action="ReGuest1" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Name">Your name:</label>
                <input class="form-control" asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Your Email</label>
                <input class="form-control" asp-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Phone">Your Phone</label>
                <input class="form-control" asp-for="Phone" />
            </div>
            <div class="form-group">
                <label>Will you attend?</label>
                <select class="form-control" asp-for="WillAttend">
                    <option value="">Choose an options</option>
                    <option value="true">Yes, I'll be there</option>
                    <option value="false">No, I can't come</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit RSVP</button>
            </div>
        </form>
    </div>
</body>
</html>
