.field-validation-error {color: #787171}
.field-validation-valid {display: none}
.input-validation-error {border: lpx solid #ff6a00;
                         background-color: #fee;}
.validation-summary-errors{font-weight: bold; color: #f00}
.validation-summary-valid{display: none;}


